@import url(https://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}
body {
  margin: 0;
  background: #ef32d9;
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
  background: linear-gradient(to right, #89fffd, #ef32d9);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Quicksand;
  font-size: 25px;
  letter-spacing: 0.01em;
}

.modal {
  padding-left: 1.5em;
  border-radius: 0.5em;
  background: white;
  color: #202020;
  position: relative;
  box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.3);
}
.modal .fa {
  color: #f0dcf0;
  background: black;
  padding: 2px;
  margin: 5px;
  border-radius: 20%;
}
.modal svg {
  width: 3.5em;
  height: auto;
  position: absolute;
  left: 2.5em;
  bottom: calc(100% - 1px);
}
.modal > div {
  padding: 1.25em 1.25em 1.25em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal > div span {
  padding-right: 2em;
}
.modal > div + div {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.hidden {
  display: none;
}

.checkbox input {
  display: none;
}
.checkbox input:checked + label {
  background: #440144;
}
.checkbox input:checked + label:before {
  transform: translateX(1.2em);
}
.checkbox label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  padding: 0.2em;
  align-items: center;
  width: 2.4em;
  cursor: pointer;
  height: 1.2em;
  border-radius: 1em;
  transition: background 0.1s ease;
  position: relative;
}
.checkbox label:before {
  content: "";
  display: block;
  transition: transform 0.1s ease;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background: rgb(156, 230, 243);
  box-shadow: 3px 5px 20px -3px rgba(0, 0, 0, 0.3);
}
.drop_menu {
  display: grid;
}
.menu {
  background: white;
  width: 56px;
  box-shadow: 1px 1px 9px #858585;
  border-radius: 10px;
  text-align: center;
  padding: 12px;
  margin-bottom: 22px;
  margin-left: 63px;
  cursor: pointer;
}
